<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen"
            href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" type="text/css" media="screen"
            href="{{ url_for('static', filename='jquery-ui-custom.css') }}"/>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
        <script>
            $(function(){ $('button').button(); });
        </script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
