{% extends 'base.html' %}

{% block body %}
<ul class="menu">
    <li><a href="{{ url_for('today') }}">log</a></li>
</ul>

<div class="panel">
    <table>
        <tr>
            <th>date</th>
            {% for task in tasks %}
            <th>{{task}}</th>
            {% endfor %}
        </tr>
        {% for date, day in days %}
        <tr>
            <td><a href="log/{{date}}">{{date}}</a></td>
            {% for task in tasks %}
            <td>{{day[task]|duration}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
