{% extends 'base.html' %}


{% block body %}
<form method="POST">
    <table>
        <tr>
            <td>task</td>
            <td><input type="text" name="task" value="{{commit.task}}"></td>
        </tr>
        <tr>
            <td>start</td>
            <td><input type="text" name="start"
                value="{{commit.start|local_time}}"></td>
        </tr>
        <tr>
            <td>end</td>
            <td><input type="text" name="end"
                value="{{commit.end|local_time}}"></td>
        </tr>
    </table>
    <button>save</button>
    <a href="{{ url_for('today') }}">cancel</a>
</form>
{% endblock %}
