{% extends 'base.html' %}


{% block body %}
<ul class="menu">
    <li><a href="/daily">daily</a></li>
</ul>

<div class="panel">
    <table>
    {% for task in tasks %}
        <tr>
            <td>{{task}}</td>
            <td>{{stat[task].seconds|duration}}</td>
            <td>
                {% if task in working %}
                <form action="checkout/{{task}}" method="POST">
                    <button class="ui-button-error">check out</button>
                </form>
                {% else %}
                <form action="/checkin" method="POST">
                    <input type="hidden" name="task" value="{{task}}">
                    <button>check in</button>
                </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        <form action="/checkin" method="POST">
        <tr>
            <td><input type="text" name="task"></td>
            <td></td>
            <td><button>check in</button></td>
        </tr>
    </form>
    </table>
</div>
<div class="panel">
    <table>
        <tr>
            <th>task</th>
            <th>start</th>
            <th>end</th>
            <th>duration</th>
        </tr>
    {% for i, commit in commits|reverse %}
    <tr>
        <td>{{commit.task}}</td>
        <td>
            {{commit.start|datetime}}
        </td>
        <td>
            {% if commit.end %}
                {{commit.end|datetime}}
            {% else %}
                <form action="/checkout/{{commit.task}}" method="POST">
                    <button class="ui-button-error">check out</button>
                </form>
            {% endif %}
        </td>
        <td>
            {{commit.duration.seconds|duration}}
        </td>
        {% if i %}
        <td>
                <form action="/edit/{{i}}" method="GET">
                    <button>edit</button>
                </form>
        </td>
        <td>
                <form action="/delete/{{i}}" method="POST">
                    <button>delete</button>
                </form>
        </td>
        <td>
                <form action="/restart/{{i}}" method="POST">
                    <button>restart</button>
                </form>
        </td>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
